
<body>
    {% include 'app.html' %}
{% block content %}
<div class="container" >
    <div class="column" >
        <div class="jumbotron container-fluid" >
            <div > 
                <h2>{{object.title}}</h5>
                <h6 class=" mb-2 text-muted">Contributed by {{object.name}}</h6><hr>
                <p>{{object.description}}</p><hr>
                <h3 style="color:green">Approach used to solve</h3>
                <p>{{object.solution}}</p><hr>
                <pre>{{object.code}}</pre>
        </div>
    </div>
</div>
{% endblock %}
</body>